#!/usr/bin/env sh

# {{scheme-name}}

herbstclient chain , \
	, attr theme.color                        '#{{base00-hex}}' \
	, attr theme.background_color             '#{{base02-hex}}' \
	, attr theme.normal.color                 '#{{base01-hex}}' \
	, attr theme.active.color                 '#{{base09-hex}}' \
	, attr theme.active.background_color      '#{{base0A-hex}}' \
	, attr theme.urgent.color                 '#{{base08-hex}}' \
	, attr theme.floating.active.color        '#{{base0D-hex}}' \
	, attr theme.floating.urgent.color        '#{{base0E-hex}}' \
	, attr theme.floating.background_color    '#{{base0C-hex}}' \
	, attr settings.frame_bg_normal_color     '#{{base02-hex}}' \
	, attr settings.frame_bg_active_color     '#{{base0A-hex}}' \
	, attr settings.frame_border_normal_color '#{{base00-hex}}' \
	, attr settings.frame_border_active_color '#{{base03-hex}}' \
	, attr theme.title_color white \
	, attr theme.active.title_color black
