[submodule "editor/.vim/bundle/neobundle.vim"]
	path = editor/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "bin/rofi-extension"]
	path = bin/rofi-extension
	url = https://github.com/sebastianrakel/rofi-extensions.git
