#ignore vim swp files
*.swp

#ignore emacs files
*~

#ignore pycharm stuff
.idea/

editor/.vim/bundle/*
!editor/.vim/bundle/vundle
!editor/.vim/bundle/neobundle.vim

tools/.ssh/*
!tools/.ssh/config

editor/.emacs.d/auto-save-list
editor/.emacs.d/ac-comphist.dat
editor/.emacs.d/.python-environments
editor/.emacs.d/*elc

graphical/.config/openbox/autostart

*.orig
