#ignore vim swp files
*.swp

#ignore emacs files
*~

#ignore pycharm stuff
.idea/

editor/.vim/bundle/*
!editor/.vim/bundle/vundle
!editor/.vim/bundle/neobundle.vim

tools/.ssh/*
tools/.ssh/config

editor/.emacs.d/auto-save-list
editor/.emacs.d/ac-comphist.dat
editor/.emacs.d/.python-environments
editor/.emacs.d/*elc

#  graphical/.config/openbox/autostart

*.orig

bin/local/

.ropeproject/

# JetBrains Stuff
jetbrains/*/config/tasks
jetbrains/*/config/options/dimensions.xml
jetbrains/*/config/options/recentProjectDirectories.xml
jetbrains/*/config/options/statistics.application.usages.xml
jetbrains/*/config/options/feature.usage.statistics.xml
jetbrains/*/config/options/jdk.table.xml
jetbrains/*/config/options/runner.layout.xml
jetbrains/*/config/options/packages.xml
jetbrains/*/config/options/runner.layout.xml
jetbrains/*/config/options/window.manager.xml

graphical/.config/i3/config
graphical/.config/i3blocks/config

editor/.emacs.d/local/
editor/.emacs.d/url/