@import 'active_theme.scss';

* {
    all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
    background-color: $base00;
    color: $base05;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.workspaces {
    margin: 7px 0px 0px 0px;
}

.workspaces button:hover {
    color: $base00;
    background-color: $base0E;
}

.workspace-button {
    min-width: 25px;
    border-radius: 50px;
    margin-right: 5px;
}

.color-selected {
    background-color: $base05;
    color: $base00;
}

.color-vnonfocus {
    background-color: $base01;
}

.color-vother {
    background-color: $base01;
}

.color-urgent {
    background-color: $base0A;
    color: $base07;
}

.bat {
    margin-right: 10px;
}

.bat-icon {
    margin-right: 5px;
}
