@import 'active_theme.scss';

* {
    all: unset;
    font-family: Monaspace Krypton;
}

tooltip.background {
    background-color: $base06;
    font-size: 18px;
    border-radius: 10px;
    color: $base00;
}

tooltip label {
    margin: 6px;
}


//Global Styles
.bar {
    background-color: $base00;
    color: $base05;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    font-size: 20px;
}

// Workspaces

.workspace-button {
    font-size: 20px;
    margin: 4px 8px;
}

.color-selected {
    color: $base07;
}

.color-vnonfocus {
    color: $base07;
}

.color-vother {
    color: $base07;
}

.color-urgent {
    color: $base08;
}

.color-empty {
    color: $base02;
}

// Right
.right {
    padding: 0px 8px 0px 0px;
}

// Battery
.bat {
    padding: 0px 0px 4px 0px;
}

// Clock
.clock {

}

// Info Area
.info {
    font-size: 16px;
    background: $base02;
    margin: 4px 0px;
    padding: 2px 15px 0px 15px;
    border-radius: 4px;
}
