uname_string=`uname`

alias tmux='tmux -2'
alias g='git'

if [[ "$uname_string" == 'OpenBSD' ]]; then

else
    alias ls='ls --color=auto'
fi

if [[ -a ~/.aliases_`hostname` ]]; then
    source ~/.aliases_`hostname`
fi

if [[ -a ~/.aliases.local ]]; then
    source ~/.aliases.local
fi
